
.form-cont {
	background-color: white;
	height: 3300px;
	width: 85%;
}

.table1 {
	margin-left: 500px;
	margin-right: 500px;
}

.table2 {
	margin-left: 500px;
	margin-right: 500px;
}

.table3 {
	margin-left: 500px;
	margin-right: 500px;
}

.table4 {
	margin-left: 500px;
	margin-right: 500px;
}